<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="DefaultDevice" value="Pn8080" />
    <add key="DefaultHost" value="192.168.1.100" />
    <add key="DefaultPort" value="8000" />
    <add key="DefaultMode" value="Persistent" />
    <add key="DefaultAutoReconnect" value="true" />
    <add key="DefaultMaxInputs" value="8" />
    <add key="DefaultMaxOutputs" value="8" />
    <add key="DefaultAutoTake" value="false" />
    <add key="DefaultUiMode" value="Grid" />
  </appSettings>
</configuration>
